@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root{
--White: hsl(0, 0%, 100%);
--Lightgray: hsl(212, 45%, 89%);
--Grayishblue: hsl(220, 15%, 55%);
--Dark-blue: hsl(218, 44%, 22%);
--fonte: Outfit;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--Lightgray);
    font-family: var(--fonte);
}

/* container centralizado */
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    max-width: 350px;
    background-color: var(--White);
    border-radius: 15px;
    box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.158);
    text-align: center;
}

p, h2{
    margin: 0 1rem;
    padding: 0 18px 15px 18px;
}

p{
    color: var(--Grayishblue);
    padding-bottom: 18px;
}

h2{
    color: var(--Dark-blue);
}

img{
    width: 100%;
    border-radius: 25px;
    padding: 17px;
}